#projectsimagecontainer {
	border: 1px solid silver;
	padding: 20px 0;
}
span.projectDone {
	color: #bbb;
	font-style: italic;
}
span.projectNotDone {
}
.matrix {
	width: 250px;
}

/*
span.sparkline {
	display:none;
}
*/